<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if Rails.env.test? %>
      <base href="<%= root_url %>">
    <% end %>
    <title><%= page_title.html_safe %></title>
    <meta name="description" content="<%= page_description %>">
    <%= yield(:meta_tags) if content_for?(:meta_tags) %>

    <%= stylesheet_link_tag    "application" unless no_global_styles %>
    <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag "vendor/modernizr" # in reimagine2 %>
    <%= javascript_include_tag "application" %>

    <%= yield :head %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "reimagine2/devpost/global_nav" if show_interface? %>

    <%= yield(:beginning_of_body) if content_for?(:beginning_of_body) %>
    <%= yield %>
    <%= yield(:end_of_body) if content_for?(:end_of_body) %>

    <%= render "reimagine2/devpost/footer" if show_interface? %>
  </body>
</html>
